<body class="student-bg">
    

        <div class="education">
            <section>
                <div class="student-circle"></div>
                <h2>Education</h2>
                    <article>
                        <h4><strong>University of Stellenbosch</strong>, Stellenbosch – BCom(Information System)</h4>
                        <p id= stellies>Critical thinking and problem solving are essential for the program. Out of the box thinking is highly encouraged, and knowledge of computers is tested on a sophisticated level</p>
                    </article>

                    <article>
                        <h4><strong>Parel Vallei High School</strong>, Somerset West – Matriculant</h4>
                        <p>Subjects: Mathematics, Physical Science, Accounting and Engineering Graphics design</p>
                    </article>
            </section> 
        </div><!--education div end here-->

        <div class="skills"> 
            <h2>Skills</h2>
            <ul>
                <li>Ability to work under pressure</li>
                <li>Critical thinking and problem solving</li>
                <li>Adaptability</li>
                <li>Interpersonal</li>
                <li>Fast learner</li>
            </ul>  
        </div> 
        
        <div class="aside">
            <aside>
                <h2>Langauges</h2>
                <ul>
                    <li>English</li>
                    <li>Java</li>
                    <li>Python</li>
                </ul>
            </aside>
        </div>


</body>