
<body class="background-body">
    <div class="box-area">
        <header>
            <div class="wrapper">
                <div class="logo">
                    <a href="#">Alvin Vurayai</a>
                </div>
                <nav>
                    <a href="#">Aspiring Programmer</a>
                    <a href="#">Recent Graduate</a>
                    <a href="#">Technology Fanatic</a>
                </nav>
            </div>
        </header>
      
        <div class="banner-area">
            <h2>Alvin Vurayai</h2>
        </div>
      
  <div class="content-area">
    
  <div class="wrapper">
    
        <div class="container">
          <div class="circle"></div>
          <h2>About Me</h2>
          <p>I recently graduated from Stellenbosch University and am a highly motivated, creative, and passionate individual                   with a strong foundation in programming, project management, and data management principles. I am a quick learner                 with great time management and multitasking abilities, as well as having an instinctive aptitude to understand and                learn new technologies. These qualities combine to make me a useful team member. I strive to utilise coding                       expertise to find creative solutions to tough problems. I have a strong work ethic, whether I'm working alone or                  with a team. I'm also goal-driven and passionate about technology with a desire to find a challenging position as a               computer programmer in a reputable organization where talents can grow.  I am excited for you to learn more about me
           </p>
        </div>

        <div class="experience">   
             <section>        
                <h2>Experience</h2>
                <article>
                    <h3>KEENSA(Pty) Ltd – Internship</h3>
                    <h4>Cape Town, Western Cape</h4>
                    <small>January 2020 to June 2021</small>
                      <p> * Collaborated to create strategic initiatives to design, code, and test solutions.<br>
                          * Effectively coded software changes and alterations based on specific design specifications.<br>
                          * Helped to provide industry-leading solutions.<br>
                          * Utilized the latest software development tools, techniques, and approaches.<br>
                          * Brought forth vast experience designing and developing responsive design websites.<br>
                          * Worked to solve complex problems using the latest in Cloud and Web Technologies</p>
                      
                </article>
            </section>
        </div>

    <div class="developer">
            <section>
                <div class="circle-dev"></div>
                <h2>Why do I want to be a developer at SovTech</h2>
              
              <p>From a young age, I have always been curious about how everything around me and the world worked. I was                         inspired to develop something when I realized that everything I encountered in my daily life had been produced by                 everyday people in an effort to save others' time, effort, and energy. The internet ushered in a new generation of                creators. Creators who have made life simpler and made everything accessible with the push of a button. I enjoy                   reading about and utilizing technology, but I don't want to limit myself to being a technology consumer. I want to                be a part of the tech world's inventors and creators in corporate settings. I want to use technology to equip                     people and businesses with the tools they need to be more sustainable  and economical as  technology is the next                  tool that will help humanity address its issues, and I want to help develop those solutions.
              However as a new graduate, I have limited knowledge and practical experience. I feel that working at SovTech will                 expand my practical experience and skills while exposing me to the technology industry and providing me with                      advice and mentorship from experts in their field. I believe that working at SovTech in the first step in                         realising my passion of solving problems and creating solutions using technology.
              </p>
                      
            </section>
      
        </div>
<!--     why be a developer end here -->

    <div class="education">
            <section>
               
                <h2>Education</h2>
                    <article>
                        <h4><strong>University of Stellenbosch</strong>, Stellenbosch – BCom(Information System)</h4>
                        <p id= stellies>Critical thinking and problem solving are essential for the program. Out of the box                                 thinking is highly encouraged, and knowledge and principles of programming, project management and data                           management are tested on a sophisticated level. Web Development, SQL, UML diagrams, database management                           and design, and JavaScirpt(Ember.js and Vue.js) are among technologies tools learned.
                        </p>
                    </article>

                    <article>
                        <h4><strong>Parel Vallei High School</strong>, Somerset West – Matriculant</h4>
                        <p>Subjects: Mathematics, Physical Science, Accounting and Engineering Graphics design</p>
                    </article>
            </section> 
        </div><!--education div end here-->
  
  </div>
<!--     wrapper div ends here -->
    
<!--           content area closing div -->
            </div>
        </div> 
    
</body>